body{
    --body-padding: 20px;
    --ButtonFace: rgb(192, 192, 192);
    --ButtonHilight: rgb(255, 255, 255);
    --ButtonLight: rgb(223, 223, 223);
    --ButtonShadow: rgb(128, 128, 128);
    --windowBackground: #c0c0c0;
    --ButtonDkShadow: rgb(0, 0, 0);
    --windowHeadline: "Wifi Login";
}


body{
    background-color: #5872c1;
    height:calc(100vh - (2 * var(--body-padding)));
    width: calc(100vw - (2 * var(--body-padding)));
    margin: var(--body-padding);
    padding:0;
    display: grid;
    grid-template-columns: calc(100%);
    font-family:"MS Sans Serif";
    font-size:12px;
}
.body-text{
    padding-top:20px;
    padding-bottom: 20px;
}
.color-picker{
    display: grid;
    column-gap: 5px;
    grid-template-columns: 80px 1fr;
}
.color-table{
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 1px solid #838383;
    border-right: 1px solid #838383;
    padding: 1px;
}

.selected-color-wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid var(--ButtonHilight);
    border-top-color: var(--ButtonShadow);
    border-left-color: var(--ButtonShadow);
}

.hide{
    user-select: none;
    opacity: 0.3;
}
.hide button{
    display: none !important;
}

.inset-color, .selected-color{
    border-top: 1px solid var(--ButtonShadow);
    border-left: 1px solid var(--ButtonShadow);
    border-right: 1px solid var(--ButtonFace);
    border-bottom: 1px solid var(--ButtonFace);
    height: 40px;
    max-width: 100%;
    position: relative;
}

.selected-color{
    height: 100px;
    width: 100px;
    margin: auto;
}

.inset-color::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid var(--ButtonDkShadow);
    border-top: 1px solid var(--ButtonDkShadow);
}
.inset-color::after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border-right: 1px solid var(--ButtonHilight);
    border-bottom: 1px solid var(--ButtonHilight);
}

.inset-color.red, .selected-color.red{
    background-color: #ff0e00;
}
.inset-color.green, .selected-color.green{
    background-color: #00ff7b;
}
.inset-color.blue, .selected-color.blue{
    background-color: #3400fe;
}
.inset-color.pink, .selected-color.pink{
    background-color: #ff00fe;
}
.inset-color.black, .selected-color.black{
    background-color: #000;
}
.inset-color.yellow, .selected-color.yellow{
    background-color: #faff08;
}
.inset-color.cyan, .selected-color.cyan{
    background-color: #00feff;
}
.inset-color.white, .selected-color.white{
    background-color: #fff;
}

.window{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 400px;
    max-height: 700px;
    background-color: var(--windowBackground);
    padding:1px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: relative;
}
.window::before{
    font-family: Tahoma;
    font-weight: bold;
    color: #fff;
    content: var(--windowHeadline);
    display: flex;
    align-items: center;
    padding-left: 2px;
    background: rgb(60,113,140);
    background: linear-gradient(90deg, rgba(60,113,140,1) 6%, rgba(84,143,173,1) 55%, rgba(132,200,221,1) 100%);
    height: 20px;
    width: calc(100% - 2px);
    margin: 0 auto;
    background-color: black;
}
.window::after{
    content: "X";
    position: absolute;
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
    font-size: 9px;
    right: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    background: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.window .body{
    padding: 20px;
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top:20px;
}

button{
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: #C0C0C0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:7px;
    padding-bottom: 7px;
    line-height: 11px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
}

#cancelColor, #applyColor{
    display: none;
}
#cancelColor.show, #applyColor.show{
    display: flex;
}

button:hover{
    text-decoration: underline;
}
button:focus::before, button:active::before{
    content: "";
    display: block;
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border: 1px dotted #000;
    border-radius: 2px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
button:active, button.active{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}


label{
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
}

label input{
    display: block;
    width: 80%;
}